services:
  fastapi-app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
      APP_DB_SCHEMA: ${APP_DB_SCHEMA}
      KEYCLOAK_INTERNAL_URL: ${KEYCLOAK_INTERNAL_URL}
      KEYCLOAK_PUBLIC_URL: ${KEYCLOAK_PUBLIC_URL}
      KEYCLOAK_REALM: ${KEYCLOAK_REALM}
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID}
      KEYCLOAK_REDIRECT_URI: ${KEYCLOAK_REDIRECT_URI}
      APP_PORT: ${APP_PORT}
    depends_on:
      - postgres
      - keycloak
    ports:
      - "8080:${APP_PORT}"

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.0
    restart: always
    env_file:
      - .env
    environment:
      KC_DB: ${KC_DB}
      KC_DB_URL: ${KC_DB_URL}
      KC_DB_USERNAME: ${KC_DB_USERNAME}
      KC_DB_PASSWORD: ${KC_DB_PASSWORD}

      KC_HOSTNAME: ${KC_HOSTNAME}
      KC_HOSTNAME_PORT: ${KC_HOSTNAME_PORT}
      KC_HOSTNAME_STRICT: ${KC_HOSTNAME_STRICT}
      KC_HOSTNAME_STRICT_HTTPS: ${KC_HOSTNAME_STRICT_HTTPS}
      KC_HTTP_RELATIVE_PATH: ${KC_HTTP_RELATIVE_PATH}

      KC_LOG_LEVEL: info
      KC_METRICS_ENABLED: true
      KC_HEALTH_ENABLED: true
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
    command: ["start-dev", "--http-port=9000", "--import-realm"]
    depends_on:
      - postgres
    ports:
      - "9000:9000"
    volumes:
      - ./resources/realm-export-fastapi-app.json:/opt/keycloak/data/import/realm-export-fastapi-app.json:ro

  postgres:
    image: postgres:17
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./sql/init-schemas.sql:/docker-entrypoint-initdb.d/init-schemas.sql:ro
    ports:
      - "5433:5432"
    restart: always

volumes:
  postgres_data:

