API_KEY='tralaladingdingdong' # replace with your API key
MODEL_NAME='nvidia/nemotron-3-super-120b-a12b:free' # or any other model available on OpenRouter you are happy with
BASE_URL='https://openrouter.ai/api/v1'